header{
  background: #081c24;
  color: #fff;
  padding: 20px 0;
  font-size: 1.5em;
}
.searchArea{
  margin: 15px 0;
}
.searchBox{
  height:30px;
  font-size: 1em;
  width:90%;
}
.searchButton{
  height:35px;
  background: #1D3853;
  border: none;
  color: #fff;
}
